# C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JAVA
*.class

build
start
kyla_trinidad/moviestore/Web capture_26-11-2021_211835_web.facebook.com.jpeg
.gitignore
kyla_trinidad/moviestore/Web capture_26-11-2021_21190_web.facebook.com.jpeg
